<br><br><br>
<footer>
    <div class="container">
        <p>
            <strong>a:</strong> Mustafa Kemal Mahallesi, 2129. Sokak, No:6/2 Çankaya – ANKARA <strong>t:</strong> 0 850 303 41 05 <strong>m:</strong> info@teleskop.app
        </p>
        <p>
            <a href="{{ url() }}">www.teleskop.app</a>
        </p>
    </div>
</footer>