<br><br><br>
<footer>
    <div class="container">
        <p>
            <strong>a:</strong> Hacettepe Üniversitesi Teknokent, 1596. Cadde, 6. Ar-Ge E Blok No:2/13 Çankaya-Ankara <strong>t:</strong> 0 850 303 41 05 <strong>m:</strong> info@teleskop.app
        </p>
        <p>
            <a href="{{ url() }}">www.teleskop.app</a>
        </p>
    </div>
</footer>