<div class="footer">
    <strong>a:</strong> Mustafa Kemal Mahallesi, 2129. Sokak, No:6/2 Çankaya – ANKARA <strong>t:</strong> 0 850 303 41 05 <strong>m:</strong> <a href="www.teleskop.app">info@teleskop.app</a>
</div>