<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<title>TeleskopApp</title>
<style>
    @page {
        size: A4;
    }
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 10px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        height: 90%;
    }
    .invoice-box table {
        width: 100%;
        text-align: left;
    }
    .invoice-box table td {
        padding: 0px;
        vertical-align: top;
    }
    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }
    .footer{
        display:block;
        position:relative;
        margin:0;
        padding:0;
        bottom:0;
        text-align:center;
    }
</style>
<script src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
<script src="https://www.chartjs.org/samples/latest/utils.js"></script>
