<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>TeleskopApp</title>
<link rel="stylesheet" href="/app.css">
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
<script src="https://www.chartjs.org/samples/latest/utils.js"></script>