<!doctype html>
<html lang="tr">
    <head>
        <%- include('partials/header') -%>
    </head>
    <body>
        <div class="invoice-box">
            <div class="one"><img src="/logo.png"></div>
            <div class="two">AKIŞ RAPORU<br><%=start_date%> - <%=end_date%></div>
            <h1 style="text-align: center; font-size: 25px;">HABER ANALİZİ</h1>
            <h2 style="text-align: center; font-size: 20px;">Popüler Kaynaklarda Çıkan Haber Sayıları</h2>
            
            <%- include('partials/footer') -%>
        </div>
    </body>
</html>