<!doctype html>
<html lang="tr">
    <head>
        <%- include('partials/header') -%>
    </head>
    <body>
        <div class="cover">
            <div class="picture">
                <img src="/kapak.png" alt="">
            </div>
            <div class="desc">
                <h1><%=data.stream.name%></h1>
                <h4><%=start_date%> - <%=end_date%></h4>
                <h5>Analiz Raporu</h5>
            </div>
        </div>
    </body>
</html>